/* countact.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.countact {
  max-width: 600px;
  padding: 60px 20px 20px;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 4px 9px 33px rgba(0, 0, 0, 0.768);
  border-radius: 10px;
  margin-bottom: 120px;
}

.contact-title {
  font-size: 23px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
  text-align: center;
}
.contact-title1 {
  color: rgb(5, 170, 170);
}

.contact-title2 {
  color: #032c2f;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  align-self: flex-start;
  color: #555;
  font-size: 25px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="Subject"],
textarea {
  width: 95.5%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #878585;
  border-radius: 4px;
  font-size: 16px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="Subject"]:hover,
textarea:hover {
  border: 2px solid black;
}

input[type="submit"] {
  width: 80%;
  padding: 10px;
  background-color: rgb(1, 150, 150);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: rgb(1, 83, 83);
  transform: scale(1.1);
  color: white;
}

textarea {
  height: 100px;
  resize: vertical;
  font-size: 17px;
}
